In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("data/list_attr_celeba.csv").loc[:,["image_id", "Smiling"]]

In [5]:
df.head()

     image_id  Smiling
0  000001.jpg        1
1  000002.jpg        1
2  000003.jpg       -1
3  000004.jpg       -1
4  000005.jpg       -1

In [6]:
df["Smiling"].value_counts()

Smiling
-1    104930
 1     97669
Name: count, dtype: int64